body {
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header,
main {
        width: 900px;
        margin-left: calc(50% - 450px);
        margin-bottom: 30px;
        display: inline-block;
}

header {
        margin-top: 40px;
}
header > img {
        width: 80px;
        height: 40px;
        float: left;
        object-fit: contain;
        object-position: left;
}
nav {
        float: right;
        margin-top: 10px;
}
nav > a {
        color: #000;
        display: inline-block;
        margin-left: 2em;
        font-size: 20px;
        line-height: 1em;
        text-decoration: none;
}
nav > a:first-child {
        margin-left: 0;
}
nav > a:hover {
        text-decoration: underline;
}
main {

}

div {
        width: 50%;
        float: left;
        margin-top: 50px;
}

h1 {
        font-size: 50px;
        font-weight: normal;
        color: #1A262C;
}
h1 > span {
        display: block;
        font-weight: bold;
}

p {
        font-size: 20px;
}

div > a {
        float: left;
        padding: 0.9em;
        padding-left: 3em;
        padding-right: 3em;
        margin-right: 1em;
        background-color: #62C1E3;
        color: #fff;
        font-size: 16px;
        line-height: 1.3em;
        text-transform: capitalize;
        text-decoration: none;
        border-radius: 1.7em;
        border: 0.15em solid #62C1E3;
}

div > a:last-child {
        background-color: #fff;
        color: #62C1E3;
        border: 0.15em solid #E2E3E5;
}
div > a:hover{
        box-shadow: 0px 5px 5px #00000088;
}

main > img {
        width: 50%;
        float: right;
}

